<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <div id="notebook-paper">

        <div class="header">
            <h1>To Do List</h1>
            <div class="input-style">
                <form action="/additem" method="post">
                    <input class="add-btn" type="text" name="item" autocomplete="off" required>
                    <button type="submit">+</button>
                </form>

            </div>
        </div>

        <div class="incomplete-style">
            <h2 class="incomplete-h2">New Tasks</h2>
            <ul id="horizontal-list">

                {{#item}}{{^is_complete}}
                <form action="/completed" method="POST">
                    <button class="done-btn" type="submit" name="item" value="{{item}}">Complete</button>
                </form>
                <form action="/deleteOne" method="POST">
                    <button class="done-btn" type="submit" name="item" value="{{item}}">X</button>
                </form>

                <li class="todo-list">{{item}}</li><button onclick="toggleVisible(display_{{id}});">✏</button>
                <div id="display_{{id}}" style="visibility:hidden;">
                    <form action="/update/{{id}}" method="POST">
                        <input value="{{item}}" name="item">
                        <button class="update-btn" type="submit" onclick="toggleHidden(display_{{id}});">Done</button>
                    </form>
                </div>



                {{/is_complete}} {{/item}}
            </ul>
        </div>

        <div class="complete-style">
            <h2 class="complete-h2">Completed Tasks</h2>

            <form action="/clearall" method="POST">
                <button class="" type="submit" name="item" value="{{item}}">Clear Completed</button>
            </form>

            <ul>{{#item}} {{#is_complete}}
                <li class="completed-list">
                    {{item}}
                </li>
                {{/is_complete}} {{/item}}
            </ul>
        </div>

    </div>

    <script>
        function toggleVisible(x) {
            x.style.visibility = 'visible';
        }
        function toggleHidden(x) {
            x.style.visibility = 'hidden';
        }
    </script>

</body>

</html>