body {
    background: #f1f1f1;
    font-family: 'Patrick Hand SC', cursive;
}


/*------- Notebook Paper Style --------*/

#notebook-paper {
    background: linear-gradient(to bottom, white 29px, #00b0d7 1px);
    box-shadow: 0 0 7px rgba(25, 25, 25, 0.2);
    margin: 50px auto;
    background-size: 100% 30px;
    position: relative;
    padding: 100px 100px 100px 140px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#notebook-paper:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 120px;
    height: 100%;
    width: 1px;
    background: #db4034;
}


/*------- Header and To Do input --------*/

.header {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin: 40px 0 0 0;
    color: #f4426b;
    font-weight: 100;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
}

h2 {
    color: #344d75;
    font-weight: 100;
}

.input-style {
    display: flex;
    justify-content: center;
}

input.add-btn {
    border: none;
    border-bottom: 1px dashed grey;
    background-color: #fff;
    padding-bottom: 5px;
    outline: none;
    font-size: 1.5rem;
    width: 10rem;
    font-family: 'Patrick Hand SC', cursive;
    margin: 10px 10px 0px 45px;
}


/*------- Text styles for both new and completed items --------*/

.incomplete-style {
    font-size: 20px;
    line-height: 30.5px;
    margin: 29px 0 25px 0;
}

.complete-style {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 40px;
}


/*------- Button Styles --------*/

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #f4426b;
    border-radius: 50px;
    font-size: 1.6rem;
    outline: none;
}


/* ul {
    list-style-type: none;
} */


/* ul li.completed-list:before {
    content: '✓';
    color: #21b267;
} */

ul li.completed-list {
    margin: 6px 0;
    text-decoration: line-through;
}

.done-btn {
    background-color: white;
    cursor: pointer;
    border: none;
    color: #21b267;
    font-size: .9rem;
    float: left;
    margin: 4px 9px 0 0;
}

.done-btn:hover {
    color: #344d75;
}

.del-btn {
    background-color: white;
    cursor: pointer;
    border: none;
    color: #f4426b;
    font-size: .9rem;
    float: left;
    margin: 4px 9px 0 0;
}

.update-btn {
    content: '✏';
    color: #2086B2;
    transform: rotate(-40deg);
    font-size: 1.1rem;
}

.update-btn:before {
    content: '✏';
    color: #2086B2;
}

button:hover {
    color: #344d75;
}

.todo-list {
    display: inline;
}

.clear-btn {
    content: '✓';
}